.container {
    padding-top: 25px;        
}

#radar-container {
    padding-bottom: 25px;        
}

.pokemons {
    font-size: medium;
}

#pokemon-type {    
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#typeChart {
    margin-bottom: 20px;
}

#pokemon-vs .card-body {
    padding-bottom: 20px;    
    padding-top: 20px;    
}

#statsChart {        
    max-height: 400px;    
    max-width: 550px;    
}

.card-header {
    text-align: center;    
}